<!-- <div *ngFor="let item of cartItems">
  <p>{{ item.product }}</p> -->

  <main >
    <h1>Shopping Cart</h1>
    <section>
    <div *ngFor="let item of cartItems" class="item_container">
      <p>{{ item.product }}</p>
      <p>{{ item.price | currency }} </p>
      <p> {{ item.quantity }} </p>
      <button (click)="deleteItem(item.id)">X</button>
      <button (click)="showEditForm()">Edit</button>
    </div>
    <div class="edit animated" 
  [ngClass]="{'bounceInDown':formShowing, 'bounceOutUp': !formShowing}" 
  *ngIf="formShowing">
  <h4>Edit Item</h4>
<form #editedItem="ngForm" (ngSubmit)="editItem(editedItem, index)">
    <label for="">Id: </label>
  <input type="text" name="id" placeholder="id" ngModel>
  <label for="">Product: </label>
  <input type="text" name="product" placeholder="Product" ngModel>
  <label for="">Price: </label>
  <input type="text" name="price" placeholder="Price" ngModel>
  <label for="">Quantity: </label>
  <input type="text" name="quantity" placeholder="Quantity" ngModel>
  <button>Save</button>
</form>
</div>
  </section>
  </main>
